extends _layout

block js
  script(src="https://cdnjs.cloudflare.com/ajax/libs/three.js/91/three.min.js")
  script(src="/assets/js/3d.dist.js")

block menu
  ul.navigations
    li
      a(href=__l('home')) home
    li
      a(href=__l('explorer') target="_blank") explorer
    li
      a(target="_blank" href=__l('whitepaper')) whitepaper
    // li
      a(href=__l('pdf') target="_blank") download whitepaper
    li
      a(href="#roadmap") roadmap
    li
      a(href="#team") team
    li
      a(href="#faqs") faqs
    li.h
      a(href="#blog") blog
    li
      a(href="#reach") reach

block primary
  +enter-whitelist

block modals
  .remodal.youtube-modal(data-remodal-id="play")
    a.x(data-remodal-close href="#") &times;
    iframe(width="100%" height="400px" src="https://www.youtube.com/embed/tlu5QaEnjs8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
    //- .video
      iframe(width="100%" height="480" src="https://www.youtube.com/embed/gG_dA32oH44?rel=0&amp;showinfo=0&amp;start=180" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
  //- .remodal.bio-modal(data-remodal-id="peter" data-remodal-options="hashTracking: false")
    a.x(href="#" data-remodal-action="close") &times;
    p Peter Nguyen is the world’s foremost authority in direct-to-consumer digital advertising. Peter has created dozens of multi-million dollar internet brands and is the creator of Accelerated Ventures, which is now being taught at the 2nd-ranked entrepreneurship program in the United States.
    p He has also made his name as the Founder and CEO of Ad Exchange Group, which is the leading direct-to-consumer digital performance-based agency in the United States. Ad Exchange Group provides services to leading brands, such as Jeunesse, Bulletproof, Feel Rich, Cosmoderm, Pathway Genomics, and many more.
  //- .remodal.bio-modal(data-remodal-id="doan" data-remodal-options="hashTracking: false")
    a.x(href="#" data-remodal-action="close") &times;
    p Doan is a self-made entrepreneur and has experience managing several startups taking them from 0 to 8 figures a year. He has been interested in the economics of cryptocurrencies since 2014, and is passionately working towards a future where cryptocurrencies are used globally for daily transactions. Doan specializes in optimizing the business process and making things efficient.
  .remodal.bio-modal(data-remodal-id="cuong" data-remodal-options="hashTracking: false")
    a.x(href="#" data-remodal-action="close") &times;
    p Cuong was first promoted to Associate Professor in 2012, at top universities like Ton Duc Thang University and Vietnam National University.
    p He is an active researcher in the fields of artificial intelligence, knowledge discovery, and data mining. He has publicized works in many international journals as well as proceedings at international conferences. He has been actively researching blockchain technology in the past several years and is successfully applying his previous research to improving blockchain ecosystem.
  .remodal.bio-modal(data-remodal-id="huy" data-remodal-options="hashTracking: false")
    a.x(href="#" data-remodal-action="close") &times;
    p Huy's specialty is information security - and machine learning. He played a pivotal role in the development of many currency exchange, money remittance, prepaid card issuance/loading, and foreign exchange platforms for the Asian market. He has been researching blockchain since 2013 and believes that blockchain will be the future of money.
  .remodal.bio-modal(data-remodal-id="gia" data-remodal-options="hashTracking: false")
    a.x(href="#" data-remodal-action="close") &times;
    p Gia is an experienced software developer with over 10 years of experience. He enjoys solving complex problems with simple and intuitive solutions. He also has experience in building high performance multi-platform applications and e-commerce networks. Gia has been involved in blockchain and cryptocurrency development since early 2015.
  .remodal.bio-modal(data-remodal-id="darren" data-remodal-options="hashTracking: false")
    a.x(href="#" data-remodal-action="close") &times;
    p Darren is master in online business and marketing strategies. Being extremely influential in the social media space has given him the ability to take startups from 0 to 6 figures revenues within the first day of launching. He has special talent in positioning brands to flourish.
    p Prior to focusing on ecommerce, Darren was involved in multiple media websites and with his strategies they reached top 200 in the world within the first few months. In the current crypto-era, he's been focused on taking all his learnings of online business and applying it to a decentralized world where there are no boundaries.
  .remodal.bio-modal(data-remodal-id="jay" data-remodal-options="hashTracking: false")
    a.x(href="#" data-remodal-action="close") &times;
    p Jay is a serial internet entrepreneur, world traveler, and photographer. Having developed a passion for entrepreneurship at a very young age, Jay has always been fascinated by social media and the marketing power it harnesses.
    p Jay has built several e-commerce brands from the ground up, traveled the globe through brand partnerships, competed as a quarterback on the NCAA level, and is passionate about how a decentralized world will shape our future. He is dedicated to leaving this place better than he found it - empowering and inspiring one day at a time.
  .remodal.bio-modal(data-remodal-id="nhu" data-remodal-options="hashTracking: false")
    a.x(href="#" data-remodal-action="close") &times;
    p Nhu is passionate about liberty and freedom, which make her a wonderful addition to our project. Nhu have a unique background which will no doubt add interesting flavor to our project having been a model, DJ, artist manager, and catwalk director. She have experience in managing and working with large groups of people to ensure proper proceedings of many shows and large events.
  .remodal.bio-modal(data-remodal-id="quan" data-remodal-options="hashTracking: false")
    a.x(href="#" data-remodal-action="close") &times;
    p Quan has a strong educational background, receiving B.A. degrees at the National Economics University in Hanoi and the Hanoi University of Law. He then continued his education at Harvard University’s John F. Kennedy School of Government, where he finished his post-graduate program. After beginning his profession, he further expanded his education by taking part in extensive courses and earned himself certificates of fundamental securities, securities analysis, and legal framework of securities and stock exchange. In 2005, he completed the Executive Program of Law under the Fullbright Economics Teaching Program (FETP). Chairman Phan’s extensive educational background prepares our team for the variety of partners and consumers that Miskre will face.
    p He has also demonstrated a fine professional history in leadership, management, governance, and investment banking. Some of his earliest positions were Project and Commercial Executive for Nissho Iwai Corporation, Chief Executive Officer and Board of Management member at EuroCapital Securities (ECC), and Director and Senior Advisor at the Vietnam VinaCapital Infrastructure Fund. As he advanced through these positions, he presented incredible management and advisory skills in corporate finance, equity investment, merger and acquisition, downstream oil & gas, and financial analysis. He is currently the Senior Advisor for Polaris Partners Group and will continue to expand his professional scope by supporting our endeavors with his abilities in strategic management, corporate governance, and project development. We are excited for Quan to join Miskre’s mission in turning cyrptocurrency into a global phenomenon.
  .remodal.bio-modal(data-remodal-id="ryohei" data-remodal-options="hashTracking: false")
    a.x(href="#" data-remodal-action="close") &times;
    p Technological evolution and innovation would not be attainable without minds like Ryohei Nakatsu to lead and advise Miskre in its rapidly advancing field.Ryohei Nakatsu received his education at Kyoto University from 1969 through 1982, earning his B.S., M.S. and Ph.D. degrees in electronic engineering respectively. In 1978, he received the Young Engineer Award from the Institute of Electronics, Information and Communication Engineers Japan (IEICE-J). His expertise was recognized again in 1996 when he won the Best Paper Award from the IEEE International Conference on Multimedia.
    p Nakatsu began his professional career in 1971 when he entered the information science laboratory NTT, where he worked on the sophistication of speech recognition technology and helped advance its integration into our modern world. In 1994, he joined the international institute ATR (Advanced Telecommunications Research Institute) as the president of ATR Media Integration &amp; Communications Research Laboratories, exhibiting his ability to manage and lead comprehensive research projects. Nakatsu returned to academia in 2002 when he became a professor at the School of Science and Technology, Kwansei Gakuin University. He then continued teaching at the National University of Singapore (NUS) since 2008 and became its Director of Interactive &amp; Digital Media Institute (IDMI).
    p Additionally, he remains heavily involved in various academic and professional societies such as the IEEE (Institute of Electrical and Electronics Engineers), the IEICE-J (Information and Communication Engineers of Japan), ACM (Association for Computing Machinery), the Acoustical Society of Japan, Information Processing Society of Japan, and Japanese Society for Artificial Intelligence. He was also appointed as a chair member in the IFIP Technical Committee on Entertainment. Nakatsu’s significant involvement and positions in these organizations showed us that he is prepared to conduct any research operations we may need and guide us in the best direction. His research interests for interactive media, entertainment technologies and artificial intelligence are everlasting and will bear great potential for Miskre’s development and future research endeavors.
  .remodal.bio-modal(data-remodal-id="samson" data-remodal-options="hashTracking: false")
    a.x(href="#" data-remodal-action="close") &times;
    p Day serves as EVP of Production at Proxima Media. During his time at Proxima, Day was among the founders of MovieCoin, a blockchain film finance and production company. From 2014 to 2017 Day was a VP of Production at Relativity Media.
  .remodal.bio-modal(data-remodal-id="duy" data-remodal-options="hashTracking: false")
    a.x(href="#" data-remodal-action="close") &times;
    p Miskre is a transformational alternative of today’s current cryptocurrencies that will be truly decentralized and built to last in a way that continuously benefits its users around the world architected by Duy Duong. He’s always had an eye for up and coming technologies and a talent for orchestrating large projects that others were too afraid to take on.
    p Duy’s analytical mind and anomalous ideas challenge the mainstream and it has set him apart from most people since a very young age. He spent much of his time alone reading, observing internet and technological trends, studying both new and established companies, inserting himself into multiple social media platforms, and exploring the crypto space. Over time, he formed an incredible understanding towards business strategies and operations - able to discern a company’s strengths, weaknesses, and how to improve and fulfill their system’s shortcomings.
    p His innovative and motivated personality drove him to constantly go against the grain and become a strong advocate for the need of nonconformist and newly inspired movements. After dropping out of college, Duy went on to create a number of high profile projects, including a publishing site that reached the Top 200 Sites of the United States and Top 500 Sites in the world within a matter of only ten months. His skillset was highlighted again through social media  as he built and managed a social media empire of over 45 million followers. Evidently, he has extensive experiences in developing effective strategic directions and key programs in a myriad of niche categories, all while maintaining initiatives and projects aligned with a company’s mission, values, and philosophy. He is also able to clearly recognize consumer behaviors and demands and knows how to direct, manage, and facilitate company objectives to satisfy those spheres. After his experience as a user in the crypto community, he has looked deeply into the crypto space and identified areas for redirection and improvement.
    p When Duy first acquired Bitcoin in 2010, he saw great potential in the technology and appreciated the level of freedom that it gave to its users. However, he sees major roadblocks and problems within the crypto space that would prevent cryptocurrencies from becoming a real beneficial and global phenomenon. An issue that stands out to him the most is the lack of faith in cryptocurrencies due to high networth individuals and monolithic organizations exerting control over the community for personal gains. Duy’s goal with Miskre is to create a platform that puts the power back into the hands of users to make an effective, democratic, and transparent currency system.
    p Developing technology and businesses that are open, convenient, and practical for the mass of people is imperative to him and his beliefs. He has consolidated his knowledge of the industry and is ready to set forth his vision alongside his distinguished team of executives. Duy is excited to collaborate with these experienced leaders and other entities abroad; a continuation of his outstanding ability to establish and maintain strong cross-function business relationships to advance mutual goals. People and businesses trust in Duy the more they become exposed to his reputable accountability, internal discipline, and go-getter character. An unconventional and knowledgeable figure in this industry is just what we need to keep Miskre in pace with the speed of our world’s growing technology and currency developments today and on into the future.
  .remodal.bio-modal(data-remodal-id="anthony" data-remodal-options="hashTracking: false")
    a.x(href="#" data-remodal-action="close") &times;
    p Miskre will have labs opened all over the world, catering to hundreds of different products and services. We’re excited to make our vision come to life with Anthony Romano on board as our CIO (Chief Investment Officer). He has spent over a decade as a private equity and principal investor, specializing in cross-border opportunities and transacting across 6 continents and 20+ countries. Anthony has collaborated with professional investors, entrepreneurs and government representatives to evaluate and invest in unique opportunities spanning the Natural Resource, Manufacturing, Life Science, Media &amp; Entertainment, Technology and Consumer industries.
    p Before diving into his career, Anthony reinforced his knowledge in management, finance, and investment by attending Babson College. He graduated in 2003 with a Bachelor of Science Degree in Business Management and a Concentration in Finance and Entrepreneurial studies. Anthony is also a recipient of Babson’s prestigious Muller Business Plan Competition Award, which recognizes an undergraduate individual that develops the most excellent business plan for an entrepreneurial venture. After graduation, he was immediately selected by major banking companies for key financial analyst positions. For the next few years, Anthony went on to work as the Investment Analyst for the investment banking divisions of top-tier banks Merrill Lynch &amp; Co. and Citigroup’s global markets.
    p Anthony continued to expand his global scope as a principle Investment Professional with leading World Bank member International Finance Corporation (IFC) in Washington D.C. from 2006 to 2009. The IFC offered him the unique opportunity and position to work hand in hand with industry specialists, government representatives, and fellow World Bank members to manage significant investments that were profitable and socially sustainable. Anthony actively demonstrated his expertise in extractive industries, handling all aspects of the direct investment process, including on-site commercial and technical due diligence, deal structuring, and transaction negotiations.
    p In 2015, he became the President of Eros International PLC, a USD $1 billion NYSE-listed media company and the world’s largest Indian studio and OTT Platform. Within only two years, Anthony constructed valuable investment strategies and formed rewarding partnerships with major studios, agencies, and venture investors in the United States and across the world for this company. To start with, he launched a Los Angeles-based investment strategy that leveraged the company’s brand, global media, and technology infrastructure to invest in and develop new business opportunities across the United States, the United Kingdom, India and China. His additional expansion efforts into Asia’s flourishing business sphere include forming joint venture partnerships with China Film Group, Shanghai Film Group, Fudan University and LETV while developing and incubating technology and content IP for cross-border utilization.
    p Prior to Miskre, Anthony was the General Partner and managed the media investment strategy for GEM Group, a $3.4 billion alternative investment group. He has been appointed to several seats on various GEM investment committees and portfolio boards and once as Chairman of the CITIC-GEM Fund Investment Committee from 2012-2014. His responsibilities include overseeing the firm's private equity strategy across a diverse set of investment vehicles and managing a team of investment professionals located throughout the United States, Asia, and Europe. With Anthony’s incredible background in managing and collaborating with international entities, Miskre is certain that our company values and aspirations to best serve our users around the world will be advanced and achieved with his administration.

block preloads
  +hello-world

block content
  #slides
    section#home
      .bg(style="background-image: url(/assets/img/slides/world.jpeg)")
      #globe.globe.js-globe
        ul.globe-list.js-list
        canvas.globe-canvas.js-canvas
      .fg

        .title
          h1#slogan(data-aos="fade-left" data-aos-duration="1000") empowering the&nbsp;
            br
            | decentralized world

        .part
          .help  Public presale&nbsp;
            small &mdash; Start at&nbsp;
            span#date &nbsp;&nbsp;
          .counter
            .day
              span#day.number &nbsp;&nbsp;
              span.help days
            .hour
              span#hour.number &nbsp;&nbsp;
              span.help hours
            .minute
              span#min.number &nbsp;&nbsp;
              span.help mins
            .second
              span#sec.number &nbsp;&nbsp;
              span.help secs

        a.play(data-remodal-target="play" href="#" data-aos="fade-up" data-aos-duration="1000")
          img.mr-5(src="/assets/img/play.svg")
          | Miskre in 3-mins
        if links.whitepaper
          a.play.alt(target="_blank" href=__l('whitepaper') data-aos="fade-up" data-aos-duration="1000")
            | Whitepaper

    section#vision
      .bg(style="background-image: url(/assets/img/slides/ice.jpeg)")
      .fg
        .title(data-aos="fade-left")
          h1 vision
        ul.featured.bg.md-2.lg-3.md-sp-30.lg-sp-50
          li(data-aos="fade-up")
            .image
              img(src="/assets/img/self-governance.jpg")
            a.title True Decentralization by Self-Governance
            .description A blockchain governed by a fair, democratic system of self-governance to ensure those whom are affected by the rules can change the rules.
          li(data-aos="fade-up")
            .image
              img(src="/assets/img/labs-all-over-the-world.jpg")
            a.title Labs all over the world
            .description Build&nbsp;
              span.miskre miskre
              | &nbsp;labs around the world to empower entrepreneurs and kickstart the&nbsp;
              span.miskre miskre
              | &nbsp;ecosystem.
          li(data-aos="fade-up")
            .image
              img(src="/assets/img/all-in-one-payment.jpg")
            a.title All-in-one payment
            .description Payment gateway system that allows online products and services to easily enable our payment services. Our Mobile Wallet App allows users to store their
              span.mis MIS
              | to generate
              span.kre.mr-0 KRE
              | , pay for goods and services both on and offline, and send money to other people.

    section#roadmap
      .bg(style="background-image: url(/assets/img/slides/road.jpeg)")
      .fg
        .title
          h1 roadmap
        ul.schedule.bg.lg-2.sp-30
          li.a(data-aos="fade-up")
            .status
              .badge
                .time May 1st, 2018
                .progress 0%
            .info
              .title Whitelist
              ul.tasks
                li
                  .name Crowdsale whitelist begins.
                    .r Preparation 100%
                  .pb
                    .mt(style="width: 0%")
          li(data-aos="fade-up")
            .status
              .badge
                .time &mdash;
                .progress 0%
            .info
              .title Crowdsale
              ul.tasks
                li
                  .name Crowdsale live!
                    .r Preparation 60%
                  .pb
                    .mt(style="width: 0%")
          li(data-aos="fade-up")
            .status
              .badge
                .time Project
                .progress 22%
            .info
              .title
                .val First 3 Labs
              .completed-date Estimated Completion &mdash; 3 months after crowdsale
              .description Labs are strategically placed startup incubators around the world.
              ul.tasks
                li
                  .name Lab 1. Bangkok, Thailand
                    .r 0%
                  .pb
                    .mt
                li
                  .name Lab 2. Buenos Aires, Argentina
                    .r 0%
                  .pb
                    .mt
                li
                  .name Lab 3. Lisbon, Portugal
                    .r 0%
                  .pb
                    .mt
                li
                  .name Legal preparation
                    .r 85%
                  .pb
                    .mt(style="width: 85%")
                li
                  .name Lab advisors talent search
                    .r 25%
                  .pb
                    .mt(style="width: 25%")
          li(data-aos="fade-up")
            .status
              .badge
                .time Core
                .progress 62.5%
            .info
              .title
                span.miskre.ml-0 miskre
                | core
              .completed-date Estimated Completion — Q4 2018
              .description Ecosystem’s distributed ledger. Core blockchain features based off Neo blockchain.
              ul.tasks
                li
                  .name Development and testing on testnet
                    .r 90%
                  .pb
                    .mt(style="width: 90%")
                li
                  .name
                    span.miskre.ml-0 miskre
                    | blockchain explorer web-application
                    .r 100%
                  .pb
                    .mt(style="width: 100%")
                li
                  .name Maximize transaction speed &amp; increase stability
                    .r 15%
                  .pb
                    .mt(style="width: 15%")
                li
                  .name Release stable opensource repository on public GitHub
                    .r 0%
                  .pb
                    .mt
                li
                  .name Release mainnet
                  .completed-date Estimated Completion &mdash; 1 months after crowdsale
                  .pb
                    .mt
                li
                  .name Add support for more smart contract programming languages
                  .completed-date Talent Searching
                  .pb
                    .mt
                li
                  .name Quantum proof research and implementation
                  .completed-date Talent Searching
                  .pb
                    .mt
          li(data-aos="fade-up")
            .status
              .badge
                .time Project
                .progress 18.75%
            .info
              .title
                span.miskre.ml-0 miskre
                | Exchange
              .completed-date Estimated Completion &mdash; 6 months after crowdsale
              .description An exchange where people can easily exchange between crypto and fiat.
              ul.tasks
                li
                  .name Development and testing on testnet
                    .r 75%
                  .pb
                    .mt(style="width: 75%")
                li
                  .name Closed beta testing on testnet for small group of users
                    .r 0%
                  .pb
                    .mt
                li
                  .name Release on mainnet
                    .r 0%
                  .pb
                    .mt
                li
                  .name Exchange API and integration with
                    span.miskre miskre
                    | pay
                    .r 0%
                  .pb
                    .mt
          li(data-aos="fade-up")
            .status
              .badge
                .time Project
                .progress 5%
            .info
              .title
                span.miskre.ml-0 miskre
                | Pay
              .completed-date Estimated Completion &mdash; 4 months after
                span.miskre miskre
                | exchange
              .description All-in-one payment solution that enables users to make quick transactions both offline and online.
              ul.tasks
                li
                  .name Development and testing on testnet
                    .r 20%
                  .pb
                    .mt(style="width: 20%")
                li
                  .name Closed beta testing on testnet for small group of users
                    .r 0%
                  .pb
                    .mt
                li
                  .name Release on mainnet
                    .r 0%
                  .pb
                    .mt
                li
                  .name
                    span.miskre.ml-0 miskre
                    | wallet mobile app
                    .r 10%
                  .pb
                    .mt(style="width: 10%")
                li
                  .name Payment Gateway Web Client
                    .r 0%
                  .pb
                    .mt
                li
                  .name Payment Gateway SDK
                    .r 0%
                  .pb
                    .mt
          li(data-aos="fade-up")
            .status
              .badge
                .time Project
                .progress 0%
            .info
              .title Renaissance
              .completed-date Launch &mdash; 2021
              .description This project aims to launch a community governed distributed ledger that will usher in a new era of free market economy.
              ul.sub-projects
                li
                  .info
                    .title Delegate System
                    .description A ranked choice voting system that allows for fair elections of delegates.
                    ul.tasks
                      li
                        .name Development and testing on test net
                          .r 0%
                        .pb
                          .mt
                      li
                        .name Closed beta testing on test net for small group of users
                          .r 0%
                        .pb
                          .mt
                      li
                        .name Public Beta
                          .r 0%
                        .pb
                          .mt
                      li
                        .name Voting API
                          .r 0%
                        .pb
                          .mt
                      li
                        .name Release on mainnet
                          .r 0%
                        .pb
                          .mt
                li
                  .info
                    .title Protocol Update Proposal
                    .description A system that allows automatic deployment of protocol updates, removing the need for FOSS maintainers.
                    ul.tasks
                      li
                        .name Development and testing on test net
                          .r 0%
                        .pb
                          .mt
                      li
                        .name Closed beta testing on test net for small group of users
                          .r 0%
                        .pb
                          .mt
                      li
                        .name Public Beta
                          .r 0%
                        .pb
                          .mt
                      li
                        .name Protocol API
                          .r 0%
                        .pb
                          .mt
                      li
                        .name Release on mainnet
                          .r 0%
                        .pb
                          .mt
          li(data-aos="fade-up")
            .status
              .badge
                .time Tasks
                .progress 8%
            .info
              .title Exchanges Listing
              .completed-date 1.5 month for each exchange
              .description Exchange and Decentrailize Exchange Integration, support
                span.miskre miskre
                | liquidity, and broaden
                span.miskre miskre
                | uses globally.
              ul.tasks
                li
                  .name Legal preparation
                    .r 45%
                  .pb
                    .mt(style="width: 45%")
                li
                  .name Binance &mdash; binance.com
                    .r &mdash;
                  .pb
                    .mt
                li
                  .name Bittrex &mdash; bittrex.com
                    .r &mdash;
                  .pb
                    .mt
                li
                  .name Bitfinex &mdash; bitfinex.com
                    .r &mdash;
                  .pb
                    .mt
                li
                  .name OKEx &mdash; okex.com
                    .r &mdash;
                  .pb
                    .mt
                li
                  .name Houbi &mdash; houbi.pro
                    .r &mdash;
                  .pb
                    .mt
                li
                  .name LBank &mdash; lbank.info
                    .r &mdash;
                  .pb
                    .mt
                li
                  .name HitBTC &mdash; hitbtc.com
                    .r &mdash;
                  .pb
                    .mt
                li
                  .name Bithumb &mdash; bithumb.com
                    .r &mdash;
                  .pb
                    .mt
                li
                  .name Upbit &mdash; upbit.com
                    .r &mdash;
                  .pb
                    .mt
                li
                  .name BCEX &mdash; bcex.ca
                    .r &mdash;
                  .pb
                    .mt
    section#team
      .bg(style="background-image: url(/assets/img/slides/city.jpeg)")
      .fg
        .title
          h1 team
          p We might not have an all-star team with people from big corporate backgrounds, but we are the crazy ones with the right skill sets and passion to bring this project to fruition. We are fully prepared to dedicate our lives to this project
        ul.team.bg.sm-1.md-3.lg-4
          li(data-aos="fade-up")
            .member
              .avatar(data-remodal-target="darren")
                img(src="/assets/img/darren.jpg")
                img(src="/assets/img/darren.jpg")
              .name Darren Lopes
              .role Chairman
          li(data-aos="fade-up")
            .member
              .avatar(data-remodal-target="doan")
                img(src="/assets/img/doan.jpg")
                img(src="/assets/img/doan.jpg")
              .name Cong Doan
              .role Chief Operating Officer
          li(data-aos="fade-up")
            .member
              .avatar(data-remodal-target="huy")
                img(src="/assets/img/huy.jpg")
                img(src="/assets/img/huy.jpg")
              .name Phu Huy
              .role Chief Technology Officer
              .links
                a(href="https://github.com/huytp" target="_blank")
                  img(src="/assets/img/github.svg")
          li(data-aos="fade-up")
            .member
              .avatar(data-remodal-target="cuong")
                img(src="/assets/img/cuong.jpg")
                img(src="/assets/img/cuong.jpg")
              .name Cuong Le
              .role Blockchain Researcher
              .links
                a(href="https://scholar.google.com.vn/citations?user=aRV5yIAAAAAJ&hl=en" target="_blank")
                  img(src="/assets/img/scholar.svg")
          li(data-aos="fade-up")
            .member
              .avatar(data-remodal-target="gia")
                img(src="/assets/img/gia.jpg")
                img(src="/assets/img/gia.jpg")
              .name Hoang Gia
              .role Blockchain Engineer
              .links
                a(href="https://github.com/coadotvn" target="_blank")
                  img(src="/assets/img/github.svg")

          li(data-aos="fade-up")
            .member
              .avatar(data-remodal-target="jay")
                img(src="/assets/img/jay.jpg")
                img(src="/assets/img/jay.jpg")
              .name Jay Croft
              .role Community Manager
          li(data-aos="fade-up")
            .member
              .avatar(data-remodal-target="nhu")
                img(src="/assets/img/nhu.jpg")
                img(src="/assets/img/nhu.jpg")
              .name Nhu Tran
              .role Community Manager
          li(data-aos="fade-up")
            .member
              .avatar(data-remodal-target="duy")
                img(src="/assets/img/duy.jpg")
                img(src="/assets/img/duy.jpg")
              .name Duy Duong
              .role Architect
        h2.part-title(data-aos="fade-up") advisors
        ul.advisors.bg.sm-2.md-3.lg-5.sm-sp-20.md-sp-40.lg-sp-50
          li(data-aos="fade-up")
            .member
              .avatar(data-remodal-target="anthony")
                img(src="/assets/img/anthony.jpg")
                img(src="/assets/img/anthony.jpg")
              .name Anthony Romano
              .role Advisor
              .links
                a(href="https://www.linkedin.com/in/anthonymromano" target="_blank")
                  img(src="/assets/img/linkedin.svg")
          li(data-aos="fade-up")
            .member
              .avatar(data-remodal-target="quan")
                img(src="/assets/img/quan.jpg")
                img(src="/assets/img/quan.jpg")
              .name Quan Phan
              .role Advisor
              .links
                a(href="https://www.linkedin.com/in/quan-phan-60736775/" target="_blank")
                  img(src="/assets/img/linkedin.svg")
          li(data-aos="fade-up")
            .member
              .avatar(data-remodal-target="ryohei")
                img(src="/assets/img/ryohei.jpg")
                img(src="/assets/img/ryohei.jpg")
              .name Ryohei Nakatsu
              .role Advisor
              .links
                a(href="https://www.linkedin.com/in/ryohei-nakatsu-6074b8a/" target="_blank")
                  img(src="/assets/img/linkedin.svg")
                a(href="https://scholar.google.ca/citations?user=o6o5FwkAAAAJ&hl=en" target="_blank")
                  img(src="/assets/img/scholar.svg")
          li(data-aos="fade-up")
            .member
              .avatar(data-remodal-target="samson")
                img(src="/assets/img/samson.jpg")
                img(src="/assets/img/samson.jpg")
              .name Samson Day
              .role Advisor
              .links
                a(href="https://www.linkedin.com/in/samson-day-114933112/" target="_blank")
                  img(src="/assets/img/linkedin.svg")
          //- li(data-aos="fade-up")
            .member
              .avatar(data-remodal-target="peter")
                img(src="/assets/img/peter.jpg")
                img(src="/assets/img/peter.jpg")
              .name Peter Nguyen
              .role Advisor
              //- .links
                a(href="https://linkedin.com/in/peterqnguyen" target="_blank")
                  img(src="/assets/img/linkedin.svg")

          //- li(data-aos="fade-up")
            .member
              .avatar(data-remodal-target="thoai")
                img(src="/assets/img/thoai.jpg")
                img(src="/assets/img/thoai.jpg")
              .name Thoai Vo
              .role Blockchain Engineer
          //- li(data-aos="fade-up")
            .member
              .avatar(data-remodal-target="sms")
                img(src="/assets/img/sms.jpg")
              .name Derick Lucas
              .role Social Media Strategist
              .links
                a(href="#" target="_blank")
                  img(src="/assets/img/linkedin.svg")

    //- section#fundraising
      .bg(style="background-image: url(/assets/img/slides/graph.jpeg)")
      .fg
        .title
          h1 fundraising
        .allocation
          .rw
            .cl.md-4.lg-3
              .help-text Total token supply
              .supply 1B MSK tokens
              .pie
                img(src="/assets/img/pie.svg")
            .cl.md-8.lg-9
              ul.legend
                li
                  .percentage 15%
                  .amount 150,000,000 MSK
                  .for
                    span.miskre.ml-0 miskre
                    | founders and advisors.
                    small Locked for 5 years, and vested 10%, 15%, 20%, 25%, 30% for another 5 years after that.
                li
                  .percentage 30%
                  .amount 300,000,000 MSK
                  .for
                    span.miskre.ml-0 miskre
                    | company tokens.
                    small Held at provision for partnerships, marketing, strategic initiatives, market maker for liquidity, and future MSK expenses (We will buy back tokens with company profit if our reserve ever falls under 300M MSK)
                li
                  .percentage 55%
                  .amount 550,000,000 MSK
                  .for Purchasers, bounty, community building
                    small
                      | • Strategic Investor Sale - 40M MSK tokens
                      br
                      | • Pre-sale - 90M MSK tokens
                      br
                      | • Crowd Sale - 420M MSK tokens

    section#faqs
      .bg(style="background-image: url(/assets/img/slides/crowd.jpeg)")
      .fg
        .title
          h1 faqs
        ul.faqs.bg.md-2.lg-3.md-sp-30.lg-sp-50
          li(data-aos="fade-up")
            .stamp
              .question What is
                span.miskre miskre
              .answer
                span.miskre.ml-0 miskre
                | is a new platform for decentralized applications that uses two native tokens
                span.mis MIS
                | and
                span.kre.mr-0 KRE
                | , allowing users to receive and transfer payment in a fair and trustless system.
          li(data-aos="fade-up")
            .stamp
              .question What problems is
                span.miskre miskre
                | solving?
              .answer
                span.miskre.ml-0 miskre
                | solves the centralization issue in blockchain governance by building a true democratic system of governance that uses ranked choice voting in a unique delegates system, along with an automated protocol update system.
                br
                br
                span.miskre.ml-0 miskre
                | solves the ICO funding craze by building sensible incubators that would be able to invest in tens or even hundreds of startups with the amount of money raised in one successful ICO.
                br
                br
                span.miskre.ml-0 miskre
                | solves accessibility in the space by empowering entrepreneurs all around the world to build on the
                span.miskre miskre
                | protocol, and bring their technology to local markets, increasing
                span.miskre miskre
                | adoption worldwide.
          li(data-aos="fade-up")
            .stamp
              .question How is
                span.miskre miskre
                | different from other protocols?
              .answer
                span.miskre.ml-0 miskre
                | is a true open source system that requires no maintainers, anyone can propose protocol updates that will automatically be deployed if gets voted on.
                br
                br
                span.miskre.ml-0 miskre
                | incorporates many on-chain governance features that will prevent exploitation of the system.
          li(data-aos="fade-up")
            .stamp
              .question What are
                span.mis MIS
                | and
                span.kre.mr-0 KRE
                | ?
              .answer The miskre ecosystem consist of two native tokens
                span.mis MIS
                | and
                span.kre.mr-0 KRE
                | .
                br
                br
                span.mis.ml-0 MIS
                | represents management rights to the network, and generates
                span.kre.mr-0 KRE
                | , which is the currency of the network.
          li(data-aos="fade-up")
            .stamp
              .question Will
                span.mis MIS
                | generate
                span.kre KRE
                | forever?
              .answer No,
                span.mis MIS
                | will only generate KRE for 22 years with the rate of
                span.kre KRE
                | generated decreasing every year;
                ul
                  li 16% of
                    span.kre KRE
                    | will be generated in the first year
                  li 52% of the
                    span.kre KRE
                    | generated within the first four years
                  li 80%
                    span.kre KRE
                    | generated within the first twelve years
          li(data-aos="fade-up")
            .stamp
              .question How many
                span.mis MIS
                | and
                span.kre KRE
                | will there be?
              .answer There will be 20 billion
                span.mis MIS
                | and 0
                span.kre KRE
                | at the start - but the blockchain will generate over the course of 22 years until the total reaches 20 billion
                span.kre.mr-0 KRE
                | .

    //- section#blog
      .bg(style="background-image: url(/assets/img/slides/ice.jpeg)")
      .fg
        .title
          h1 blogs
          p Follow
            span.miskre miskre
            | latest updates and news
        ul.articles.bg.md-2.lg-3.md-sp-30.lg-sp-50
          li(data-aos="fade-up")
            article
              a.image(href="#")
                img(src="https://images.pexels.com/photos/768472/pexels-photo-768472.jpeg?h=350&dpr=2&auto=compress&cs=tinysrgb")
              a.title(href="#") First Article
              .description First two weeks of January 2018 updates. We focus on sample smart contracts…
          li(data-aos="fade-up")
            article
              a.image(href="#")
                img(src="https://images.pexels.com/photos/717131/pexels-photo-717131.jpeg?h=350&dpr=2&auto=compress&cs=tinysrgb")
              a.title(href="#") Weekly Updates - Week 4, Jan 2018
              .description First two weeks of January 2018 updates. We focus on sample smart contracts…
          li(data-aos="fade-up")
            article
              a.image(href="#")
                img(src="https://images.pexels.com/photos/762026/pexels-photo-762026.jpeg?h=350&auto=compress&cs=tinysrgb")
              a.title(href="#") Final Partner Meetup
              .description First two weeks of January 2018 updates. We focus on sample smart contracts…

    section#reach
      .bg(style="background-image: url(/assets/img/slides/lift.jpeg)")
      .fg
        .title(data-aos="fade-left")
          h1 reach
          p Token sale coming soon.
            br
            | Join our reading list and conversations.
        .contact(data-aos="fade-in")

          .help Reach us at
          a.email(href="mailto:contact@miskre.org") contact@miskre.org

          .help Social Media
          .social-links
            +social-links

          if links.appstore || links.googleplay
            .help Get in touch
            .download
              if links.appstore
                a(href=links.appstore target="_blank")
                  img(src="/assets/img/get.ios.svg")
              if links.googleplay
                a(href=links.googleplay target="_blank")
                  img(src="/assets/img/get.android.svg")

        .copyright © 2018
          span.miskre.mr-0 miskre
          | . All Rights Reserved.
