extends _layout

block js
  script(src="/assets/js/3d.dist.js")

block menu
  ul.navigations
    li
      a(href=__l('home')) home
    li
      a(href=__l('whitepaper')) interactive whitepaper
    li
      a(href=__l('pdf')) download whitepaper
    li
      a(href="#roadmap") roadmap
    li
      a(href="#team") team
    li
      a(href="#faqs") faqs
    li.h
      a(href="#blog") blog
    li
      a(href="#reach") reach

block primary
  +enter-whitelist

block modals
  .remodal.youtube-modal(data-remodal-id="play")
    a.x(data-remodal-close href="#") &times;
    center
      p.mv-30 Coming Soon
    //- .video
      iframe(width="100%" height="480" src="https://www.youtube.com/embed/gG_dA32oH44?rel=0&amp;showinfo=0&amp;start=180" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
  .remodal.bio-modal(data-remodal-id="peter")
    p Peter Nguyen is the world’s foremost authority in direct-to-consumer digital advertising. Peter has created dozens of multi-million dollar internet brands and is the creator of Accelerated Ventures, which is now being taught at the 2nd-ranked entrepreneurship program in the US.
    p Founder and CEO of Ad Exchange Group, which is the leading direct-to-consumer digital performance-based agency in the nation. Ad Exchange Group services leading brands like Jeunesse, Bulletproof, Dollar Beard Club, Feel Rich, Cosmoderm, Pathway Genomics, and many more.
  .remodal.bio-modal(data-remodal-id="doan")
    p Doan is a self-made entrepreneur and has experience managing several startups taking them from 0 to 8 figures a year. He has been interested in the economics of cryptocurrencies since 2014, and is passionately working towards a future where cryptocurrencies are used globally for daily transactions.
  .remodal.bio-modal(data-remodal-id="cuong")
    p Cuong was first promoted to Associate Professor in 2012, at top universities like Ton Duc Thang University and Vietnam National University. 
    p He is an active researcher in the fields of artificial intelligence, knowledge discovery, and data mining. He has publicized works in many international journals as well as proceedings at international conferences. He has been actively researching blockchain technology in the past several years and is successfully applying his previous research to improving blockchain ecosystem.
  .remodal.bio-modal(data-remodal-id="huy")
    p Huy's specialty is information security - and machine learning. He played a pivotal role in the development of many currency exchange, money remittance, prepaid card issuance/loading, and foreign exchange platforms for the Asian market. He has been researching blockchain since 2013 and believes that blockchain will be the future of money.
  .remodal.bio-modal(data-remodal-id="gia")
    p Gia is a super designer and senior front-end engineer. He enjoys turning complex problems into simple, beautiful and intuitive interface designs. He also has experience in building high performance multi-platform applications and e-commerce networks.
  .remodal.bio-modal(data-remodal-id="darren")
    p Darren is master in online business and marketing strategies. Being extremely influential in the social media space has given him the ability to take startups from 0 to 6 figures revenues within the first day of launching. He has special talent in positioning brands to flourish.
    p Prior to focusing on ecommerce, Darren was involved in multiple media websites and with his strategies they reached top 200 in the world within the first few months. In the current crypto-era, he's been focused on taking all his learnings of online business and applying it to a decentralized world where there are no boundaries.
  .remodal.bio-modal(data-remodal-id="thoai")
    p Thoai is a software engineer, with strong understanding of blockchain technologies and architecture. He has been researching blockchain since 2013, and been part of the development team for many cryptocurrency exchanges as well as payment gateway systems.
  .remodal.bio-modal(data-remodal-id="jay")
    p Jay is a serial internet entrepreneur, world traveler, and photographer. Having developed a passion for entrepreneurship at a very young age, Jay has always been fascinated by social media and the marketing power it harnesses. 
    p Jay has built several e-commerce brands from the ground up, traveled the globe through brand partnerships, competed as a quarterback on the NCAA level, and is passionate about how a decentralized world will shape our future. He is dedicated to leaving this place better than he found it - empowering and inspiring one day at a time.
  .remodal.bio-modal(data-remodal-id="nhu")
    p Nhu has always been passionate about the ideas of liberty and freedom, which make her a wonderful addition to our project. Nhu have a unique background which will no doubt add interesting flavor to our project having been a model, DJ, artist manager, and catwalk director. She have experience in managing and working with large groups of people to ensure proper proceedings of many shows and large events.
  //- .remodal.bio-modal(data-remodal-id="am")
    p Duy has been involved in several high profile projects, and have worked with many top 200 sites in the world. Accountable for steering daily operations and strategic directions of many top websites while keeping all initiatives and projects aligned with company mission, values, and philosophy.
    p Has extensive experience in developing clear strategies and key programs in myriad of niche categories. Able to establish and maintain strong cross-functioning business relationships with industry leaders and individuals, optimizing business processes and business goals through effective and collaborative teamwork.
  .bio-modal(data-remodal-id="sms")

block preloads
  +hello-world

block content
  #slides
    section#home.full-height
      .bg(style="background-image: url(/assets/img/slides/world.jpeg)")
      #globe.globe.js-globe
        ul.globe-list.js-list
        canvas.globe-canvas.js-canvas
      .fg
        //- .pages
          div
            .title
              h1 ecommerce
                br
                | re-imagined
            .description We might not have an all-star team with people from big corporate backgrounds, but we are the crazy ones with the right skill sets and passion to bring this project to fruition. We are fully prepared to dedicate our lives to this project
          div
            .title
              h1 miskre
                br
                | app
            .description Multi-purpose app acting as both messaging app and bank account; allowing users to use the app not only to talk to friends and transfer files but also to order goods and services, pay bills, transfer money to other users, online payment processing for internet businesses, and make purchases at physical stores.
          div
            .title
              h1 ecommerce
                br
                | platform
            .description Retail point-of-sale system, allowing users to easily create an online store to sell their own products or to retail products provided by Miskre Marketplace.
          div
            .title
              h1 marketplace
            .description Global marketplace with items from all over the world, priced in both USD and MSK.
          div
            .title
              h1 ship
            .description Our system will encompass all form of freight. Users will be able to track their package every step of the way, the moment the product leave the factory to when it arrives at their doorstep with full transparency on the blockchain.
          div
            .title
              h1 fulfillment
            .description All products will go through our facilities and inspected carefully before being packaged and shipped to customers.
          div
            .title
              h1 miskre
                br
                | network
            .description Transparent and decentralized Ad-Exchange running on our own side-chain: preventing advertising fraud, and protecting the privacy of consumers. Work in unison with our Miskre App; allowing affiliates, internet entrepreneurs, as well as celebrities and personalities to receive payments on time and in accordance with their contracts.

        .title
          h1#slogan(data-aos="fade-left" data-aos-duration="1000") empowering the&nbsp;
            br
            | decentralized world
        //- .description#part-description We might not have an all-star team with people from big corporate backgrounds, but we are the crazy ones with the right skill sets and passion to bring this project to fruition. We are fully prepared to dedicate our lives to this project
        //- a.play(href="#play" data-remodal-target="play")
          img.mr-5(src="/assets/img/play.svg")
          | why miskre?

        .help Interactive Whitepaper&nbsp;
          small &mdash; Coming on&nbsp;
          span#wpdate &nbsp;&nbsp;
        .counter
          .day
            span#wpday.number &nbsp;&nbsp;
            span.help days
          .hour
            span#wphour.number &nbsp;&nbsp;
            span.help hours
          .minute
            span#wpmin.number &nbsp;&nbsp;
            span.help mins
          .second
            span#wpsec.number &nbsp;&nbsp;
            span.help secs

        a.play(data-remodal-target="play" href="#" data-aos="fade-up" data-aos-duration="1000")
          img.mr-5(src="/assets/img/play.svg")
          | miskre in 2-mins
        if links.whitepaper
          a.play.alt(href=__l('whitepaper') data-aos="fade-up" data-aos-duration="1000")
            | interactive whitepaper

        //- ul.pages
          li.a(data-title="commerce<br>re-imagined" data-description="We might not have an all-star team with people from big corporate backgrounds, but we are the crazy ones with the right skill sets and passion to bring this project to fruition. We are fully prepared to dedicate our lives to this project") 01
          li(data-title="miskre<br>app" data-description="Multi-purpose app acting as both messaging app and bank account; allowing users to use the app not only to talk to friends and transfer files but also to order goods and services, pay bills, transfer money to other users, online payment processing for internet businesses, and make purchases at physical stores.") 02
          li(data-title="ecommerce<br>platform" data-description="Retail point-of-sale system, allowing users to easily create an online store to sell their own products or to retail products provided by Miskre Marketplace.") 03
          li(data-title="marketplace" data-description="Global marketplace with items from all over the world, priced in both USD and MSK.") 04
          li(data-title="ship" data-description="Our system will encompass all form of freight. Users will be able to track their package every step of the way, the moment the product leave the factory to when it arrives at their doorstep with full transparency on the blockchain.") 05
          li(data-title="fulfillment" data-description="All products will go through our facilities and inspected carefully before being packaged and shipped to customers.") 06
          li(data-title="miskre<br>network" data-description="Transparent and decentralized Ad-Exchange running on our own side-chain: preventing advertising fraud, and protecting the privacy of consumers. Work in unison with our Miskre App; allowing affiliates, internet entrepreneurs, as well as celebrities and personalities to receive payments on time and in accordance with their contracts.") 07

    section#vision
      .bg(style="background-image: url(/assets/img/slides/ice.jpeg)")
      .fg
        .title(data-aos="fade-left")
          h1 vision
        ul.featured.bg.md-2.lg-3.md-sp-30.lg-sp-50
          li(data-aos="fade-up")
            .image
              img(src="/assets/img/governance.png")
            a.title True self-governance
            .description A fair, democratic system of self-governance to ensures those whom are affected by the rules can change the rules.
          li(data-aos="fade-up")
            .image
              img(src="/assets/img/labs.png")
            a.title Labs all over the world
            .description Build
              span.miskre miskre
              | labs around the world to empower entrepreneurs and kickstart the miskre ecosystem.
          li(data-aos="fade-up")
            .image
              img(src="/assets/img/liquidity.png")
            a.title All-in-one payment
            .description Payment gateway system that allows online products and services to easily enable our payment services. Our Mobile Wallet App allows users to store their
              span.mis MIS
              | to generate
              span.kre.mr-0 KRE
              | , pay for goods and services both on and offline, and send money to other people.

    section#roadmap
      .bg(style="background-image: url(/assets/img/slides/boat.jpeg)")
      .fg
        .title
          h1 roadmap
        ul.schedule.bg.lg-2.sp-30
          li.a(data-aos="fade-up")
            .status
              .badge
                .time May 1st, 2018
                .progress 0%
            .info
              .title Whitelist
              ul.tasks
                li
                  .name Crowdsale whitelist begins.
                    .r Preparation 100%
                  .pb
                    .mt(style="width: 0%")
          li(data-aos="fade-up")
            .status
              .badge
                .time &mdash;
                .progress 0%
            .info
              .title Crowdsale
              ul.tasks
                li
                  .name Crowdsale live!
                    .r Preparation 60%
                  .pb
                    .mt(style="width: 0%")
          li(data-aos="fade-up")
            .status
              .badge
                .time Project
                .progress 22%
            .info
              .title
                .val First 3 Labs
              .completed-date Estimated Completion &mdash; 3 months after crowdsale
              .description Labs are strategically placed startup incubators around the world.
              ul.tasks
                li
                  .name Lab 1. Bangkok, Thailand
                    .r 0%
                  .pb
                    .mt
                li
                  .name Lab 2. Buenos Aires, Argentina
                    .r 0%
                  .pb
                    .mt
                li
                  .name Lab 3. Lisbon, Portugal
                    .r 0%
                  .pb
                    .mt
                li
                  .name Legal preparation
                    .r 85%
                  .pb
                    .mt(style="width: 85%")
                li
                  .name Lab advisors talent search
                    .r 25%
                  .pb
                    .mt(style="width: 25%")
          li(data-aos="fade-up")
            .status
              .badge
                .time Project
                .progress 18.75%
            .info
              .title
                span.miskre.ml-0 miskre
                | Exchange
              .completed-date Estimated Completion &mdash; 6 months after crowdsale
              .description An exchange where people can easily exchange between crypto and fiat.
              ul.tasks
                li
                  .name Development and testing on testnet
                    .r 75%
                  .pb
                    .mt(style="width: 75%")
                li
                  .name Closed beta testing on testnet for small group of users
                    .r 0%
                  .pb
                    .mt
                li
                  .name Release on mainnet
                    .r 0%
                  .pb
                    .mt
                li
                  .name Exchange API and integration with
                    span.miskre miskre
                    | pay
                    .r 0%
                  .pb
                    .mt
          li(data-aos="fade-up")
            .status
              .badge
                .time Project
                .progress 5%
            .info
              .title
                span.miskre.ml-0 miskre
                | Pay
              .completed-date Estimated Completion &mdash; 4 months after
                span.miskre miskre
                | exchange
              .description All-in-one payment solution that enables users to make quick transactions both offline and online.
              ul.tasks
                li
                  .name Development and testing on testnet
                    .r 20%
                  .pb
                    .mt(style="width: 20%")
                li
                  .name Closed beta testing on testnet for small group of users
                    .r 0%
                  .pb
                    .mt
                li
                  .name Release on mainnet
                    .r 0%
                  .pb
                    .mt
                li
                  .name
                    span.miskre.ml-0 miskre
                    | wallet mobile app
                    .r 10%
                  .pb
                    .mt(style="width: 10%")
                li
                  .name Payment Gateway Web Client
                    .r 0%
                  .pb
                    .mt
                li
                  .name Payment Gateway SDK
                    .r 0%
                  .pb
                    .mt
          li(data-aos="fade-up")
            .status
              .badge
                .time Project
                .progress 0%
            .info
              .title Renaissance
              .completed-date Launch &mdash; 2021
              .description This project aims to launch a community governed distributed ledger that will usher in a new era of free market economy.
              ul.sub-projects
                li
                  .info
                    .title
                      span.miskre.ml-0 miskre
                      | core
                    .description Ecosystem’s distributed ledger
                    ul.tasks
                      li
                        .name Maximize transaction speed
                        .pb
                          .mt
                      li
                        .name Increase stability
                        .pb
                          .mt
                      li
                        .name Optimize Wallet Client UI
                        .pb
                          .mt
                      li
                        .name Add support for more smart contract programming languages
                        .pb
                          .mt
                      li
                        .name Quantum proof research and implementation
                        .pb
                          .mt
                li
                  .info
                    .title Delegate System
                    .description A ranked choice voting system that allows for fair elections of delegates.
                    ul.tasks
                      li
                        .name Development and testing on test net
                          .r 0%
                        .pb
                          .mt
                      li
                        .name Closed beta testing on test net for small group of users
                          .r 0%
                        .pb
                          .mt
                      li
                        .name Public Beta
                          .r 0%
                        .pb
                          .mt
                      li
                        .name Voting API
                          .r 0%
                        .pb
                          .mt
                      li
                        .name Release on mainnet
                          .r 0%
                        .pb
                          .mt
                li
                  .info
                    .title Protocol Update Proposal
                    .description A system that allows automatic deployment of protocol updates, removing the need for FOSS maintainers.
                    ul.tasks
                      li
                        .name Development and testing on test net
                          .r 0%
                        .pb
                          .mt
                      li
                        .name Closed beta testing on test net for small group of users
                          .r 0%
                        .pb
                          .mt
                      li
                        .name Public Beta
                          .r 0%
                        .pb
                          .mt
                      li
                        .name Protocol API
                          .r 0%
                        .pb
                          .mt
                      li
                        .name Release on mainnet
                          .r 0%
                        .pb
                          .mt

    section#team
      .bg(style="background-image: url(/assets/img/slides/city.jpeg)")
      .fg
        .title
          h1 team
          p We might not have an all-star team with people from big corporate backgrounds, but we are the crazy ones with the right skill sets and passion to bring this project to fruition. We are fully prepared to dedicate our lives to this project
        ul.team.bg.sm-2.md-3.lg-5.sm-sp-20.md-sp-40.lg-sp-50
          li(data-aos="fade-up")
            .member
              .avatar(data-remodal-target="peter")
                img(src="/assets/img/peter.jpg")
                img(src="/assets/img/peter.jpg")
              .name Peter Nguyen
              .role Executive Chairman
              .links
                a(href="https://linkedin.com/in/peterqnguyen" target="_blank")
                  img(src="/assets/img/linkedin.svg")
          li(data-aos="fade-up")
            .member
              .avatar(data-remodal-target="doan")
                img(src="/assets/img/doan.jpg")
                img(src="/assets/img/doan.jpg")
              .name Doan Tran
              .role Operations Manager
          li(data-aos="fade-up")
            .member
              .avatar(data-remodal-target="cuong")
                img(src="/assets/img/cuong.jpg")
                img(src="/assets/img/cuong.jpg")
              .name Cuong Le
              .role Data Scientist / Blockchain Researcher
              .links
                a(href="https://scholar.google.com.vn/citations?user=aRV5yIAAAAAJ&hl=en" target="_blank")
                  img(src="/assets/img/scholar.svg")
          li(data-aos="fade-up")
            .member
              .avatar(data-remodal-target="jay")
                img(src="/assets/img/jay.jpg")
                img(src="/assets/img/jay.jpg")
              .name Jay Croft
              .role Community Manager
          li(data-aos="fade-up")
            .member
              .avatar(data-remodal-target="nhu")
                img(src="/assets/img/nhu.jpg")
                img(src="/assets/img/nhu.jpg")
              .name Nhu Tran
              .role Community Manager
          li(data-aos="fade-up")
            .member
              .avatar(data-remodal-target="darren")
                img(src="/assets/img/darren.jpg")
                img(src="/assets/img/darren.jpg")
              .name Darren Lopes
              .role Executive Advisor /
                br
                | Strategist
          li(data-aos="fade-up")
            .member
              .avatar(data-remodal-target="gia")
                img(src="/assets/img/gia.jpg")
                img(src="/assets/img/gia.jpg")
              .name Gia Nguyen
              .role Creative Director
              .links
                a(href="https://github.com/coadotvn" target="_blank")
                  img(src="/assets/img/github.svg")
          li(data-aos="fade-up")
            .member
              .avatar(data-remodal-target="huy")
                img(src="/assets/img/huy.jpg")
                img(src="/assets/img/huy.jpg")
              .name Huy Tran
              .role Blockchain Engineer
              .links
                a(href="https://github.com/huytpyt" target="_blank")
                  img(src="/assets/img/github.svg")
          li(data-aos="fade-up")
            .member
              .avatar(data-remodal-target="thoai")
                img(src="/assets/img/thoai.jpg")
                img(src="/assets/img/thoai.jpg")
              .name Thoai Vo
              .role Blockchain Engineer
          //- li(data-aos="fade-up")
            .member
              .avatar(data-remodal-target="sms")
                img(src="/assets/img/sms.jpg")
              .name Derick Lucas
              .role Social Media Strategist
              .links
                a(href="#" target="_blank")
                  img(src="/assets/img/linkedin.svg")
          //- li(data-aos="fade-up")
            .member
              .avatar(data-remodal-target="am")
                img(src="/assets/img/am.jpg")
                img(src="/assets/img/am.jpg")
              .name Duy Duong
              .role Ambassador /
                br
                | Architect
              .links
                a(href="#" target="_blank")
                  img(src="/assets/img/linkedin.svg")

    //- section#fundraising
      .bg(style="background-image: url(/assets/img/slides/graph.jpeg)")
      .fg
        .title
          h1 fundraising
        .allocation
          .rw
            .cl.md-4.lg-3
              .help-text Total token supply
              .supply 1B MSK tokens
              .pie
                img(src="/assets/img/pie.svg")
            .cl.md-8.lg-9
              ul.legend
                li
                  .percentage 15%
                  .amount 150,000,000 MSK
                  .for
                    span.miskre.ml-0 miskre
                    | founders and advisors.
                    small Locked for 5 years, and vested 10%, 15%, 20%, 25%, 30% for another 5 years after that.
                li
                  .percentage 30%
                  .amount 300,000,000 MSK
                  .for
                    span.miskre.ml-0 miskre
                    | company tokens.
                    small Held at provision for partnerships, marketing, strategic initiatives, market maker for liquidity, and future MSK expenses (We will buy back tokens with company profit if our reserve ever falls under 300M MSK)
                li
                  .percentage 55%
                  .amount 550,000,000 MSK
                  .for Purchasers, bounty, community building
                    small
                      | • Strategic Investor Sale - 40M MSK tokens
                      br
                      | • Pre-sale - 90M MSK tokens
                      br
                      | • Crowd Sale - 420M MSK tokens

    section#faqs
      .bg(style="background-image: url(/assets/img/slides/crowd.jpeg)")
      .fg
        .title
          h1 faqs
        ul.faqs.bg.md-2.lg-3.md-sp-30.lg-sp-50
          li(data-aos="fade-up")
            .stamp
              .question What is
                span.miskre miskre
              .answer
                span.miskre.ml-0 miskre
                | is a decentralized currency that uses two native tokens
                span.mis MIS
                | and
                span.kre.mr-0 KRE
                | , allowing users to receive and transfer payment in a fair and trustless system.
          li(data-aos="fade-up")
            .stamp
              .question What problems is
                span.miskre miskre
                | solving?
              .answer
                span.miskre.ml-0 miskre
                | solves the centralization issue in blockchain governance by building a true democratic system of governance that uses ranked choice voting in a unique delegates system, along with an automated protocol proposal system.
                br
                br
                span.miskre.ml-0 miskre
                | solves the ICO funding craze by building sensible incubators that would be able to invest in tens or even hundreds of startups with the amount of money raised in one successful ICO.
                br
                br
                span.miskre.ml-0 miskre
                | solves accessibility in the space by empowering entrepreneurs all around the world to build on the miskre protocol, and bring their technology to local markets, increasing miskre adoption worldwide.
          li(data-aos="fade-up")
            .stamp
              .question How is
                span.miskre miskre
                | different from other protocols?
              .answer
                span.miskre.ml-0 miskre
                | is a true open source system that requires no maintainers, anyone can propose protocol updates that will automatically be deployed if gets voted on.
                br
                br
                span.miskre.ml-0 miskre
                | incorporates many on-chain governance features that will prevent exploitation of the system.
          li(data-aos="fade-up")
            .stamp
              .question What are
                span.mis MIS
                | and
                span.kre.mr-0 KRE
                | ?
              .answer The miskre ecosystem consist of two native tokens
                span.mis MIS
                | and
                span.kre.mr-0 KRE
                | .
                br
                br
                span.mis.ml-0 MIS
                | represents management rights to the network, and by just simply holding it in a wallet it will generate
                span.kre.mr-0 KRE
                | , which is the currency of the network.
          li(data-aos="fade-up")
            .stamp
              .question Will
                span.mis MIS
                | generate
                span.kre KRE
                | forever?
              .answer No, to give early adopters incentive
                span.mis MIS
                | will only generate KRE for approximately 22 years with the rate of
                span.kre KRE
                | generated decreasing every year.
                ul
                  li 16% of
                    span.kre KRE
                    | will be generated in the first year
                  li 52% of the
                    span.kre KRE
                    | generated within the first four years
                  li 80%
                    span.kre KRE
                    | generated within the first twelve years
          li(data-aos="fade-up")
            .stamp
              .question How many
                span.mis MIS
                | and
                span.kre KRE
                | will there be?
              .answer There will be 20 billion
                span.mis MIS
                | and 0
                span.kre KRE
                | at the start - but the blockchain will generate over the course of 22 years until the total reaches 20 billion
                span.kre.mr-0 KRE
                | .

    //- section#blog
      .bg(style="background-image: url(/assets/img/slides/ice.jpeg)")
      .fg
        .title
          h1 blogs
          p Follow
            span.miskre miskre
            | latest updates and news
        ul.articles.bg.md-2.lg-3.md-sp-30.lg-sp-50
          li(data-aos="fade-up")
            article
              a.image(href="#")
                img(src="https://images.pexels.com/photos/768472/pexels-photo-768472.jpeg?h=350&dpr=2&auto=compress&cs=tinysrgb")
              a.title(href="#") First Article
              .description First two weeks of January 2018 updates. We focus on sample smart contracts…
          li(data-aos="fade-up")
            article
              a.image(href="#")
                img(src="https://images.pexels.com/photos/717131/pexels-photo-717131.jpeg?h=350&dpr=2&auto=compress&cs=tinysrgb")
              a.title(href="#") Weekly Updates - Week 4, Jan 2018
              .description First two weeks of January 2018 updates. We focus on sample smart contracts…
          li(data-aos="fade-up")
            article
              a.image(href="#")
                img(src="https://images.pexels.com/photos/762026/pexels-photo-762026.jpeg?h=350&auto=compress&cs=tinysrgb")
              a.title(href="#") Final Partner Meetup
              .description First two weeks of January 2018 updates. We focus on sample smart contracts…

    section#reach.full-height
      .bg(style="background-image: url(/assets/img/slides/rocket.jpeg)")
      .fg
        .title(data-aos="fade-left")
          h1 reach
          p Token sale coming soon.
            br
            | Join our reading list and conversations.
        .contact(data-aos="fade-in")

          .help Reach us at
          a.email(href="mailto:contact@miskre.org") contact@miskre.org

          .help Social Media
          .social-links
            +social-links

          if links.appstore || links.googleplay
            .help Get in touch
            .download
              if links.appstore
                a(href=links.appstore target="_blank")
                  img(src="/assets/img/get.ios.svg")
              if links.googleplay
                a(href=links.googleplay target="_blank")
                  img(src="/assets/img/get.android.svg")

        .copyright © 2018
          span.miskre.mr-0 miskre
          | . All Rights Reserved.